*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.map{
    height: 600px;
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.side-contact{
    height: 400px;
    width:25%;
    background-color: #2d2929;
    color:#fff;
    padding: 20px;
    display:flex;
    position: absolute;
    bottom:0;
    flex-direction: column;
    justify-content: space-around;
}
.box{
    width: 100%;
    background: #aaaaaa;
    padding: 15px 0 0 20px;
}
div.box span, div.box a, div.box p{
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin: 0 0 18px 0;
    color: #000;
}
.box span{
    font-weight: bold;
}
.getting-help{
    height: 100vh;
    width: 100%;
    position: relative;
}
.follow-social-media{
    height:160px;
    width:19.8%;
    background: #2d2929;
    text-align: center;
    padding:20px 0;
    margin:0 0 0 152px;
}
.follow-social-media h2{
    color:#fff;
}

.follow-social-media span{
    background-color:rgb(170, 170, 170);
    color: #000;
    font-size: 26px;
    padding:10px;
    border-radius: 50%;
    display: inline-block;
    margin:40px 20px 0 0; 
}


.get-help{
    width: 60%;
    color: #fff;
    margin: 0 30% 0 0;
    padding-top:50px;
    position: absolute;
    top:-6%;
    right:-22%;
} 
.get-help h2{
    font-size: 65px;
    font-family: 'Cormorant Garamond', serif;
    margin: 0px 0px 16px 0px;
} 
.get-help p{
    font-size: 18px;
    letter-spacing: 1px;
}
.contact-form{
    width:70%;
    height:60vh;
    position: absolute;
    bottom:0%;
    left:29%;
}
.input{
    height: 80px;
    width:40%;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size:22px;
    margin: 30px 0 0 25px;
    padding-left: 20px;
    outline: none;
    border: 1px solid rgba(255,255,255,.1);
}
textarea.comment{
    width:78%;
    height: 300px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    outline:none;
    font-size:22px;
    margin: 30px 0 0 25px;
    padding:20px 0 0 20px;
    border: 1px solid rgba(255,255,255,.1);
}
textarea:focus{
    border:1px solid #4bffa5;
}
::placeholder{
    font-size: 22px;
    padding-left: 20px;
    padding-top:20px;
    }
.btn{
    border-radius:20px;
    color: #fff;
    border:1px solid #fff;
}
input:focus{
    border:1px solid #4bffa5;
}
