@media(max-width:1485px) {
    div.my-pic{
        top: 35vh;
        left: 15%;
    }
}
@media (max-width:1080px){
    div.my-pic{
        left:10%;
    }
    }
@media (max-width:900px){
    div.about-my-info{
        right:-20px;
    }
}
@media (max-width:821px){
    .pic-section{
        display: none;
    }
    div.about-my-info{
        width:100%;
        padding:20px;
    }
}