*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top:0;
    right: 0;
    left:0;
}

div.entry{
    display: flex;
    justify-content:center;
    height: 100vh;
    width:100%;
}
div.my-pic > img{
    right:-52px;
    top:-55px;
}
div.about-my-info{
    width:40%;
    height:100vh;
    position: relative;
    margin-top:100px;
}
div.about-my-info > p{
    font-size:30px;
    color:#fff;
}
div.about-my-info > p:nth-child(2){
    line-height: 40px;
    margin:40px 0px;
}
div.my-info{
    width: 100%;
}
.my-info table{
    color: #fff;
    width: 100%;
}
table tr td{
    margin-right: 10px;
    font-size: 22px;
    padding:0 0 10px 0;
}

td.ryt-element{
    padding: 0 0 0 15px;
}
div.my-services{
    width:100%;
    text-align:center;
    margin-top:100px;
}
div.my-services > h3{

    color:#fff;
    font-size: 30px;
    display: inline-block;
    border-bottom-style: solid;
    border-color: #4bffa5;
    border-width: 1px;
    padding: 0 0 5px 0;
    margin:50px 0;
}

div.service-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color:white;
    text-align: center;
    justify-content: space-around;
}
div.services{
    height:300px;
    width:245px;
    margin:10px 0px;
    border:2px solid #fff;
    padding:25px
}
div.services:hover {
    border:2px solid #4bffa5;
}
div.services:hover > h2,.icon{
    color:#4bffa5;
}
.icon{
    font-size: 40px;
    margin:10px 0px;
}
div.services > p{
    text-align: justify;
    margin:20px 0px;
}
div.social-contact{
    right: 0vw;
    top: 85vh;
    margin: -35vh -6vw 0vw 0;
    position: fixed;
    transform: rotate(90deg);
}
div.education{
    height: 600px;
    width:100%;
    position: relative;
    margin:100px 0;
    text-align: center;
}
div.education > h3{
    text-align: center;
    color: #fff;
    font-size: 30px;
    display:inline-block;
    border-bottom-style: solid;
    border-color: #4bffa5;
    border-width: 1px;
    padding: 0 0 5px 0;
}
div.animation-line > div.line1{
    height: 650px;
    width:2px;
    background-color: #4bffa5;
    margin:-2px 0 0 0 ;
    position: absolute;
    left: 13px;
    top: 160px;
    animation: education-line 4s forwards linear;
}
@keyframes education-line {
    0%{
        height: 0px;
    }
    100%{
        height: 650px;
    }
}
div.sml-circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    border:2px solid #4bffa5;
    background: radial-gradient(circle, rgba(75,255,165,1) 50%, rgba(29,27,27,1) 50%);
}
div.my-qualifications{
    color:#fff;
    margin: 100px 0 0 25%;
    text-align:left;

}
div.my-qualifications > span{
    font-size: 22px;
    border: #4bffa5;
    border-style: none none solid none;
    padding-bottom: 10px;
}
div.my-qualifications > h3{
    margin-top:20px;
}

