::selection{
    background-color: #4bffa5;
    color: #000;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    margin:0;
    transition: all 1s linear;
    background: #1d1b1b;
}
body::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}
body::-webkit-scrollbar-thumb{
    background-color: #4bffa5;
}
/* <------- animation of name is start from here -------> */

div.animation-name{
    height:100vh;
    width: 100vw;
    background: #1d1b1b;
    text-align: center ;
    animation: fade 2s forwards linear;
    animation-delay: 4s;
    z-index: 1;
}
@keyframes fade {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
span.my-name{
    font-size: 22px;
    color:white;
    margin-right :10px;
}
div.animation-name > .letter::before{
    content:"";
    font-size: 25px;
    display: inline-block;
    margin-top:20%;
    animation:entrance 1s forwards linear; 
    }
@keyframes entrance{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
        display: none;
    }
}
div.animation-name > span.letter-y::before{
    content:"";
    color:red;
    animation: letter-y 1s forwards linear;
}
@keyframes letter-y{
    0%{
        content:"A"
    }
    10%{
        content:"B"
    }
    20%{
        content:"C"
    }
    30%{
        content:"D"
    }
    40%{
        content:"E"
    }
    50%{
        content:"F"
    }
    60%{
        content:"G"
    }
    70%{
        content:"H"
    }
    80%{
        content:"I"
    }
    90%{
        content:"J"
    }
    100%{
        content:"Y"
    }
}
div.animation-name > span.letter-a::before{
    content:"";
    color:red;
    animation: letter-a 1s forwards linear;
    animation-delay: 1s;
}
@keyframes letter-a{
    0%{
        content:"A"
    }
    10%{
        content:"B"
    }
    20%{
        content:"C"
    }
    30%{
        content:"D"
    }
    40%{
        content:"E"
    }
    50%{
        content:"F"
    }
    60%{
        content:"G"
    }
    70%{
        content:"H"
    }
    80%{
        content:"I"
    }
    90%{
        content:"J"
    }
    100%{
        content:"A"
    }
}
div.animation-name > span.letter-s::before{
    content:"";
    color:red;
    animation: letter-s 1s forwards linear;
    animation-delay: 2s;
}
@keyframes letter-s{
    0%{
        content:"A"
    }
    10%{
        content:"B"
    }
    20%{
        content:"C"
    }
    30%{
        content:"D"
    }
    40%{
        content:"E"
    }
    50%{
        content:"F"
    }
    60%{
        content:"G"
    }
    70%{
        content:"H"
    }
    80%{
        content:"I"
    }
    90%{
        content:"J"
    }
    100%{
        content:"S"
    }
}
div.animation-name > span.letter-h::before{
    content:"";
    color:red;
    animation: letter-h 1s forwards linear;
    animation-delay: 3s;
}
@keyframes letter-h{
    0%{
        content:"A"
    }
    10%{
        content:"B"
    }
    20%{
        content:"C"
    }
    30%{
        content:"D"
    }
    40%{
        content:"E"
    }
    50%{
        content:"F"
    }
    60%{
        content:"G"
    }
    70%{
        content:"H"
    }
    80%{
        content:"I"
    }
    90%{
        content:"J"
    }
    100%{
        content:"H"
    }
}

/*<------ name animation is end here ------>*/
div.entry-animation{
    display:flex;
    overflow: hidden;
    position:absolute;
    top:0;
    z-index: -1;
}

div.block1{
    height:100vh;
    width:50vw;
    display: flex;
}
.block1::before{
    content:"";
    height:100vh;
    width:100%;
    display:block;
    background-color: gray;
    position: relative;
    top:0;
    border: 1px solid white;
    border-style: none none none solid;
    animation: upwards 3s forwards linear;
    animation-delay: 6s;
}
@keyframes upwards{ 
    from{
        top:0%;
    }
    to{
        top:-100%;
    }
}
.block1::after{
    content:"";
    height:100vh;
    width:100%;
    display:block;
    background-color: gray;
    position: relative;
    top:0;
    border: 1px solid white;
    border-style: none none none solid;
    animation: downwards 3s forwards linear;
    animation-delay: 6s;
}
@keyframes downwards{
    from{
        top: 0%;
    }
    to{
        top:100%;
    }
}
div.block2{
    height:100vh;
    width:50vw;
    display: flex;
}
.block2::before{
    content:"";
    height:100vh;
    width:100%;
    display:block;
    background-color: gray;
    position: relative;
    top:0;
    border: 1px solid white;
    border-style: none none none solid;
    animation: upwards 3s forwards linear;
    animation-delay: 6s;
}
@keyframes upwards{ 
    from{
        top:0%;
    }
    to{
        top:-100%;
    }
}
.block2::after{
    content:"";
    height:100vh;
    width:100%;
    display:block;
    background-color: gray;
    position: relative;
    top:0;
    border: 1px solid white;
    border-style: none none none solid;
    animation: downwards 3s forwards linear;
    animation-delay: 6s;
}
@keyframes downwards{
    from{
        top: 0%;
    }
    to{
        top:100%;
    }
}

/* <------- entrance of portfolio till here -------> */

header{
    background-color: #1d1b1b;
    position: sticky;
    top:0;
    z-index: 9;
}
div.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 50px 20px 50px;
    
}
div.navbar > div > span{
    font-family: 'Russo One', sans-serif;
    color:#fff;
    font-size: 22px;
}
div.nav-links > ul > li{
    list-style:none;
    display: inline-block;
}
div.nav-links > ul > li >a{
    text-decoration: none;
    color:rgb(144, 144, 144);
    font-weight: 600;
    font-size:16px;
    padding:30px 30px;
    transition: all 0.2s linear;
}
div.nav-links > ul > li:hover > a{
    color:white;
    font-size:20px;
}
 .menu-icon{
    display: none;
}
div.entry{
    position:relative;
}
div.my-pic{
    height:350px;
    width:350px;
    display: inline-block;
    background-color: #3b3838;
    position: relative;
    top:10vh; 
    left:13vw;
    transform: rotate(43deg);
    overflow: hidden;
}
div.my-pic > img{
    -webkit-filter: grayscale(100%);  /*Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width:450px;
    position:absolute;
    top: -55px;
    right: -60px;
    transform: rotate(316deg);
}
div.about-me{
    font-size:30px;
    color:#fff;
    display: inline-block;
    position: absolute;
    top: 25vh;
    right: 14vw;
}
div.about-me > p > span{
    color:#4bffa5;
}
.resume{
    width: fit-content;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4bffa5;
    color: #000;
    position:absolute;
    right:34vw;
    top:40vh;
}
.fa-download{
    margin:0 5px;
}
div.social-contact{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    float: right;
    transform: rotate(90deg);
    margin: -10vh -6vw 0vw 0;
}
div.follow{
    display: inline-block;
}
div.line{
    width:60px;
    margin:0 10px 10px 10px;
    border-bottom-style: solid;
    border-color: #fff;
    border-width: 1px;
    display: inline-block;
}
div.social-links{
    display: inline-block;
}
div.social-links > a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
}
.fa-brands{
    margin:0 6px;
    transition: all 0.2s linear;
}
.fa-brands:hover{
    color:#4bffa5;
}

footer{
    display: flex;
    align-items: center;
    width: 54%;
    position: absolute;
    right: 11%;
    bottom: 13%;
}
.container{
    height: 77px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.hidden-box{
    height: 100px;
    width: 40rem;
    background: #1d1b1b;
    position: absolute;
    top: 0;
    right: 0;
    animation: move-ryt 4s infinite;
}
@keyframes move-ryt{
    0%{
        right:0%;
    }
    50%{
        right:-100%;
        width:0;
    }
    100%{
        right:0%;
    }
}
div.name > span{
    color:#fff;
    font-size: 50px;
    display: inline-block;
    margin: -15px 0px;
    font-weight: 600;
    width:170px;
}
div.charactersticks{
    /* height: 40px; */
    position: relative;
    top:0;
    animation:move-up 12s steps(3) infinite;
}
div.charactersticks > span{ 
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: #4bffa5;
    margin: 5px 0px
}
@keyframes move-up{      
    100%{
        top:-188px;
    }
}




div.contact-info{
    color:rgb(144, 144, 144);
    line-height: 40px;
    position: absolute;
    bottom: 20px;
    left:2vw;
}
div.contact-info > span > a{
    text-decoration: none;
    color:rgb(144, 144, 144);
}
article:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
    z-index:-9;
    animation: block 0.1s forwards linear;
    animation-delay: 9s;
}
@keyframes block {
    from{
        z-index: -9;
    }
    to{
        z-index: 9999;
    }
}

.mouse{
    height:30px;
    width:30px;
    background-color: rgba(0, 255, 128, 0.432);
    border-radius: 50%;
    position: fixed;
    top:0;
    left:0;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
    z-index: 9999;
    pointer-events: none;
    transition: all 0.1s;
}